.header{
  width: 100%;
    margin:auto;
    border: 0px none;
}
.text-wrapper-2{
    margin: 50px auto 0px;
  }
  
  .text-wrapper-2 {
    font-family: "Poppins-Bold", Helvetica;
    font-size: 5.75vw;
    /* 3.75rem */
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
  }
  .text-wrapper-3  {
    margin: auto;
  }
  
   .text-wrapper-3 {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(
      180deg,
      rgb(206, 77, 164) 0%,
      rgb(115, 83, 229) 100%
    );
    background-clip: text;
    color: transparent;
    font-family: "Poppins-Bold", Helvetica;
    /* font-size: 3.75rem; */
    font-size: 5.75vw;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
     }
  
  
   .hiring-delinquent {
    margin: 30px auto ;
    -webkit-text-stroke: 1px #000000;
    color: transparent;
    font-family: "Poppins-Medium", Helvetica;
    /* font-size: 1.5625rem; */
    font-size: 2.5625vw;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    position: relative;
  }
  
   .text-wrapper-4 {
    color: #e5e5e580;
    font-weight: 500;
  }
  
   .span {
    color: #f9f4f4;
    font-weight: 500;
  }
  
   .text-wrapper-5 {
    color: #eeb0ff;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
  }
  
   .text-wrapper-6 {
    color: #b44fb7;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
  }
  